<div class="col-xs-7 col-sm-8">
  <div id="<%= bandId %>">
    <dl class="dl-horizontal">
      <dt>Year formed</dt>
      <dd data-band-id="<%= bandId %>" contenteditable="true"><%= bandYear %></dd>
      <dt>Members</dt>
      <dd>
        <ul class="list-unstyled">
        <% bandMembers.forEach(function(member, i) { %>
          <li data-band-id="<%= bandId %>" data-member-id="<%= i %>" contenteditable="true">
            <%= member %>
          </li>
        <% }) %>
        </ul>
      </dd>
    </dl>
  </div>
</div>
